target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/.idea/
demo.iml
target/
Pipfile Pipfile.lock
Pipfile*
coverage/


### Slides reveal.js ###
node_modules